*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #90e0ef, #caf0f8);
    height: 300px;
    animation-name: header_animation;
    animation: header_animation 5s infinite;
}

@keyframes header_animation{
    from {background-image: linear-gradient(to bottom right, #90e0ef, #caf0f8)}
    to {background-image: linear-gradient(to bottom right, #caf0f8, #90e0ef)}
}

#header_text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px; 
    width: 800px;
    height: 60px;  
}

section{
    display: flex;
    background-image: url(../asset/aboutme_bg.jpg);
    height: 700px;
    justify-content: center;
}

#aboutme_text{
    display: flex;
    font-family:monospace;
    font-weight: bold;
    font-size: 45px;
    height: 38px;
    justify-content: center;
    margin-top: 20px;
}

#photoanddesc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    height: 200px;
}

#aboutme_img{
    background-image: url(../asset/foto.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 200px;
    margin-right: 30px;
}

#aboutme_desc{
    display: flex;
    flex-direction: column;
}

#desc_title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

#desc_text{
    font-size: 15px;
    width: 500px;
}

#edu_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

table{
    width: 100%;
}

table, tr, td, th{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
    padding: 6px;
}

#softandpro_title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#logo_softandpro{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#word, #excel{
    width: 60px;
}

#ppt{
    width: 100px;
}

#c{
    width: 30px;
}

footer{
    background-image: linear-gradient(to bottom right, #90e0ef, #caf0f8);
    height: 100px;
    animation-name: header_animation;
    animation: header_animation 5s infinite;
}

@keyframes header_animation{
    from {background-image: linear-gradient(to bottom right, #90e0ef, #caf0f8)}
    to {background-image: linear-gradient(to bottom right, #caf0f8, #90e0ef)}
}

#contactme_text{
    display: flex;
    font-family:monospace;
    font-weight: bold;
    font-size: 30px;
    height: 38px;
    justify-content: center;
}

#logo_contactme{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ig, #linkedin{
    margin-top: 15px;
    width: 60px;
}

#clickme{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px; 
    width: 100px;
    height: 10px;
}